<!-- LS Header ripped d'reckly from Learning Space -->
{% include 'learningspace-header.html' %}

  <h1>Welcome back, {{ userFirstName }}</h1> 

  <!-- My Modules -->
  <h2>My Modules</h2>
  <ul class="module-list">
  {# Define fullname var that we will #}
  {# use to check repitition inside for loop. #}
  {# Skip if is same coursename as prev #}
 
  {% set fullname = '' %}

  {# Define fullname var that we will #}
  {% for module in modules %}
  	{% if module.fullname != fullname %}
  		
  		{% set name = module.newName %}

  		<li class="module-list__module">

        {% if module.idnumber != "" %}
          <h5 class="module-list__code badge">{{ module.idnumber }}</h5>
        {% endif %}

        <h2 class="module-list__title"><a href="{{ base ~ '/course/view.php?id=' ~ module.id }}">{{ module.newName }}</a></h2>
        
        {% if module.summary != "" %}
        <p class="module-list__item-desc">
          {{ module.summary }}
        </p>
        {% endif %}

        {# if there is a reading list for this module #}
        {% if readingLists[module.fullname][0].name != "" %}
          
          <a class="module-list__readings-link" href="{{ readingLists[module.fullname][0].url }}"><span><i class="fa fa-book"></i> Reading list</span></a>

        {% endif %}
           
      </li>
  	
  	{% else %}
  		{# Do nothing #}   	
    {% endif %}
  {% endfor %}
</ul>
<!-- END My Modules -->

  <!-- Contacts -->
  <h2>Personal Tutor</h2>
  <p>Your personal tutor is whatever...</p>
  <ul class="contact-cards">
    <li class="contact-cards__card">
      <ul class="contact-cards__details">
        <li class="contact-cards__pic"></li>
        <li class="contact-cards__text"><strong>{{ personalTutor.name }}</strong></li>
        <li class="contact-cards__text">{{ personalTutor.email }}</li>
        <li class="contact-cards__text">{{ personalTutor.telephone }}</li>
      </ul>
    </li>
  </ul>
  <!-- END Contacts -->

  <!-- Files -->
  <h2>Files</h2>
  <ul class="files-list">
      {% for file in files %}
          <li class="files-list__file">
            <a class="files-list__file-link" href="{{ file.link }}">
              <h2 class="files-list__file-title">{{ file.title }}</h2>
              <ul class="files-list__file-meta">
                <li>
                  {{ file.size }}
                </li>
                <li>
                  {{ file.ext }}
                </li>
              </ul>
            </a>
          </li>
      {% endfor %}
  </ul>
  <!-- END Files -->

  <!-- Reading Lists -->
  <h2>Reading Lists</h2>
  <ul>
    {% for moduleReadingList in readingLists %}
      {% for item in moduleReadingList %}
        <li><a href="{{ item.url }}">{{ item.name }}</a></li>
      {% endfor %}
    {% endfor %}
  </ul>
  <!-- END Reading Lists -->

<!-- LS Footer – Ripped d'reckly from Learning Space -->
{% include 'learningspace-footer.html' %}