<!-- LS Header ripped d'reckly from Learning Space -->
{% include 'learningspace-header.html' %} 

  <!-- Nav tabs -->
<ul class="nav nav-pills" role="tablist">
  <li class="active"><a href="#my-modules" role="tab" data-toggle="tab">My Modules</a></li>
  <li><a href="#course-information" role="tab" data-toggle="tab">Course Information</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="my-modules">
    <!-- My Modules -->
  <!-- <h1 id="section--my-modules">My Modules</h1> -->
  <ul class="module-list">
  {# Define fullname var that we will #}
  {# use to check repitition inside for loop. #}
  {# Skip if is same coursename as prev #}
 
  {% set readableName = '' %}

  {# Define readableName var that we will #}
  {% for module in modules %}
    {% if module.readableName != readableName %}
      
      {% set name = module.readableName %}

      <li class="module-list__module">

        {% if module.idnumber != "" %}
          <h5 class="module-list__code badge">{{ module.idnumber }}</h5>
        {% endif %}

        <h1 class="module-list__title"><a href="{{ siteRoot ~ '/course/view.php?id=' ~ module.id }}">{{ module.readableName }}</a></h2>
        
        {% if module.summary != "" %}
        <p class="module-list__item-desc">
          {{ module.summary }}
        </p>
        {% endif %}

        {# if there is a reading list for this module #}
        {% if readingLists[module.readableName][0].name != "" %}
          
          <a class="module-list__readings-link" href="{{ readingLists[module.readableName][0].url }}"><span><i class="fa fa-book"></i> Reading list</span></a>

        {% endif %}
           
      </li>
    
    {% else %}
      {# Do nothing #}    
    {% endif %}
  {% endfor %}
</ul>
<!-- END My Modules -->
  </div>



  <div class="tab-pane" id="course-information">
    <!-- Welcome -->
    {% if courseWelcome != "" %}
    <h1>{{ courseName }}</h1>
    <p>{{ courseWelcome }}</p>
    <img src="{{ courseWelcomePhoto }}">
    <p>{{ courseWelcomeName }}</p>
    <p>{{ courseWelcomeJobTitle }}</p>
    {% endif %}
    <!-- END Welcome -->
    
    <!-- Contacts -->
    {% if personalTutor.name != null %}
    <h1 id="section--personal-tutor">Personal Tutor</h1>
    <p>Your personal tutor is whatever...</p>
    <ul class="contact-cards">
      <li class="contact-cards__card">
        <ul class="contact-cards__details">
          <li class="contact-cards__pic"></li>
          <li class="contact-cards__text"><h3>{{ personalTutor.name }}</h3></li>
          <li class="contact-cards__text"><strong>{{ personalTutor.jobTitle }}</strong></li>
          <li class="contact-cards__text">{{ personalTutor.email }}</li>
          <li class="contact-cards__text">{{ personalTutor.telephone }}</li>
        </ul>
      </li>
    </ul>
    {% endif %}
    <!-- END Contacts -->

    <!-- Files -->
    {% if files != NULL %}
    <h1 id="section--important-documents">Important documents</h1>
    <p>Below you will find important documents relating to your course</p>
    <ul class="files-list">
      {% for file in files %}
      <li class="files-list__file">
        <a class="files-list__file-link" href="{{ file.link }}">
        <p class="files-list__file-title"><small>{{ file.title }}</small></p>
        <i class="files-list__icon fa fa-cloud-download"></i>
      <!-- <ul class="files-list__file-meta">
        <li>
        {{ file.size }}
        </li>
        <li>
        {{ file.ext }}
        </li>
      </ul> -->
      </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    <!-- END Files -->

    <!-- Reading Lists -->
    <!-- <h2>Reading Lists</h2>
    <ul>
      {% for moduleReadingList in readingLists %}
        {% for item in moduleReadingList %}
          <li><a href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
      {% endfor %}
    </ul> -->
    <!-- END Reading Lists -->
  </div>
</div>
<!-- LS Footer – Ripped d'reckly from Learning Space -->
{% include 'learningspace-footer.html' %}