        </div>
      </section>

      <aside id="region-pre" class="span4 block-region region-content">
        




          <!-- <div id="inst1290" class="block_section  block list_block" role="complementary" aria-labelledby="instance-1290-header">
            <div class="header">
              <div class="title" id="yui_3_7_3_2_1410273634501_217">
                <div class="block_action">
                  <img class="block-hider-hide" tabindex="0" alt="Hide Key Information block" title="Hide Key Information block" src="http://localhost:8888/learningspace/theme/image.php?theme=learningspace&amp;component=core&amp;rev=-1&amp;image=t/switch_minus">
                  <img class="block-hider-show" tabindex="0" alt="Show Key Information block" title="Show Key Information block" src="http://localhost:8888/learningspace/theme/image.php?theme=learningspace&amp;component=core&amp;rev=-1&amp;image=t/switch_plus">
                </div>

                <h2 id="instance-1290-header">On this page</h2> 
              </div>
            </div>

            <div class="content">
              <ul class="unlist">

                <li class="r0">
                  <div class="column c1">
                    <a title="Pages" href="#section--my-modules"><img src="http://localhost:8888/learningspace/theme/image.php?theme=learningspace&amp;component=page&amp;image=icon" class="icon" alt="">My Modules</a>
                  </div>
                </li>

                <li class="r0">
                  <div class="column c1">
                    <a title="Pages" href="#section--personal-tutor"><img src="http://localhost:8888/learningspace/theme/image.php?theme=learningspace&amp;component=page&amp;image=icon" class="icon" alt="">Personal tutor</a>
                  </div>
                </li>

                <li class="r0">
                  <div class="column c1">
                    <a title="Pages" href="#section--important-documents"><img src="http://localhost:8888/learningspace/theme/image.php?theme=learningspace&amp;component=page&amp;image=icon" class="icon" alt="">Important documents</a>
                  </div>
                </li>

              </ul>
            </div> -->
          </div><!-- End block section -->








      </aside>










    </div>
  </div>
</div>
<footer id="footer">
  <div class="container-fluid">
    <div class="row-fluid page-footer">
      <ul class="unstyled">
        <li><a href="http://studentmail.falmouth.ac.uk/">Student Email</a></li>
        <li><a href="http://mailspace.falmouth.ac.uk/">Staff Email</a></li>
        <li><a href="http://www.falmouth.ac.uk/term-dates-201314">Term Dates</a></li>
        <li><a href="http://et.falmouth.ac.uk">Help</a></li>
        <li><a href="falmouth.ac.uk">Educational Technology</a></li>
      </ul>
    </div>
    <span id="credits">
      <small>Lovingly crafted by <a href="http://et.falmouth.ac.uk">Educational Technology</a>. &copy; University College Falmouth. All rights reserved.</small>
    </span>
    <a id="fal-logo" href="http://falmouth.ac.uk/"></a>
  </div>
</footer>
<!-- End of body html -->
<script type="text/javascript" src="{{ scip }}/public/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="{{ scip }}/public/js/jquery.sidr.min.js"></script>
<script type="text/javascript" src="{{ scip }}/public/js/ls-footer.js"></script>
<script type="text/javascript" src="{{ scip }}/public/js/bootstrap.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tabs').tab();
    });
</script>  
</body>
</html>